.detailContent{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0% 0% 2%;
}

.ourServices{

    h4{
        font-weight:900;
        width:100%;
    }

    display:flex;
    justify-content: space-evenly;

}

.detailSection{
    flex-direction: column;
    min-width: 20%;
    text-align: center;
    margin: 0% 0%;

    p{
        padding: 0% 17%;
    }
}

.whyChooseDetails{
    text-align: center;
    width:60%;
}
