.backgroundHome{
    background:white;
    h1,h2,h4{
        margin:0px;
    }
}

.banner1{
    position: relative;
    text-align: center;
}


.banner1 img{
    object-fit: cover;
    height: 91vh;
    width:100%;
}

.banner1Wrapper{
    overflow: hidden;
    color:white;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    background:dodgerblue;
    width:100%;
    padding-bottom: 10px;
    opacity: 0.9;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


    img{
        opacity: 1;
        height: 204px;
    }
}

.banner1Wrapper::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.banner1Wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}



.banner2{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color:rgba(50,50,50,0.24);
  padding:6%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../image/worldImg.png') center;
  background-size:cover;

  h1{
    mix-blend-mode: lighten;
  }

    img{
        padding-top:2%;
        width:40%;
    }
}

.banner3{
    background:dodgerblue;
    color:white;
    display:flex;
    align-items: center;
    margin-bottom: 3%;

    .b3s{
        padding: 0px 3%;
        font-size:1.5rem;
    }
}

.banner4{
    font-size: 1.5rem;
    color:white;
    background:dodgerblue;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:1% 10%;

    p:nth-of-type(1){
        text-align: center;
    }

    p:nth-of-type(2){
        font-size:2rem;
    }
}

.detailContent{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0% 0% 2% 0%;

    h1{
        text-align: center;
        border-bottom: 1px solid dodgerblue;
        margin-bottom:2%;
        font-size: 2.5rem;
        width:13%;
        color:black;
    }

}

.ourServices{

    h4{
        text-transform: uppercase;
        border: 1px solid dodgerblue;
        border-radius: 15px;
        font-size: 1.5rem;
        font-weight:900;
        width:70%;
        padding:5px;
        margin: 20px auto;
    }

    display:flex;
    justify-content: space-evenly;
    

.detailSection{
    flex-direction: column;
    min-width: 20%;
    text-align: center;
    margin: 0% auto;
    font-size: 1.1rem;

    p{
        padding: 0% 17%;
    }
}

}